<p id="notice"><%= notice %></p>

<div class="search">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :day_cont, placeholder: "search..." %>
  <% end %>
</div>

<h1>Listing Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td><%= attendance.day %></td>
        <td><%= attendance.available %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
