<!DOCTYPE html>
<html>
<head>
  <title>Atttracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <%= link_to "STI", root_path %>
      <% if agent_signed_in? || team_leader_signed_in? %>
        <ul>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <% if current_team_leader %>
          <li><%= link_to "I am admin" %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "Sign up",  new_user_registration_path %></li>
          <li><%= link_to "Sign in",  new_user_session_path %></li>
        </ul>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
